<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tiramisudelemon.restaurand.app">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeNoBar">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDZ7-1NN5gAn-gmM4fFeyWSwyUIa2JbloI" />

        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RRListActivity"
            android:label="@string/results_name"></activity>
        <activity
            android:name=".activities.RRDetailActivity"
            android:label="@string/results_detail_name"></activity>

        <activity
            android:name=".activities.RREditingActivity"
            android:label="@string/activity_editing_rr"></activity>

        <activity android:name=".activities.AddRRPlaceActivity"
            android:label="@string/add_rrplace_activity_title"></activity>
    </application>

</manifest>
